.feature-card4-container {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card4-text {
  font-weight: 600;
  line-height: 28px;
}
@media(max-width: 767px) {
  .feature-card4-feature-card {
    flex-direction: row;
  }
  .feature-card4-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card4-container {
    flex-direction: column;
  }
}

.question14-container {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.question14-text {
  font-weight: 700;
}

.a-support-and-contact-us-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.a-support-and-contact-us-page-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.a-support-and-contact-us-page-image {
  width: 200px;
  object-fit: cover;
}
.a-support-and-contact-us-page-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.a-support-and-contact-us-page-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.a-support-and-contact-us-page-nav12 {
  text-decoration: none;
}
.a-support-and-contact-us-page-nav22 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.a-support-and-contact-us-page-nav32 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.a-support-and-contact-us-page-buttons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.a-support-and-contact-us-page-burger-menu {
  display: none;
}
.a-support-and-contact-us-page-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.a-support-and-contact-us-page-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.a-support-and-contact-us-page-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.a-support-and-contact-us-page-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.a-support-and-contact-us-page-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-support-and-contact-us-page-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.a-support-and-contact-us-page-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.a-support-and-contact-us-page-nav121 {
  margin-bottom: var(--dl-space-space-unit);
}
.a-support-and-contact-us-page-nav221 {
  margin-bottom: var(--dl-space-space-unit);
}
.a-support-and-contact-us-page-nav321 {
  margin-bottom: var(--dl-space-space-unit);
}
.a-support-and-contact-us-page-nav42 {
  margin-bottom: var(--dl-space-space-unit);
}
.a-support-and-contact-us-page-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.a-support-and-contact-us-page-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.a-support-and-contact-us-page-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.a-support-and-contact-us-page-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.a-support-and-contact-us-page-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-support-and-contact-us-page-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.a-support-and-contact-us-page-hero-heading {
  max-width: 800px;
  text-align: center;
}
.a-support-and-contact-us-page-hero-sub-heading {
  font-size: 18px;
  text-align: center;
}
.a-support-and-contact-us-page-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.a-support-and-contact-us-page-gallery {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-support-and-contact-us-page-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-support-and-contact-us-page-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.a-support-and-contact-us-page-container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.a-support-and-contact-us-page-features-heading {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.a-support-and-contact-us-page-features-sub-heading {
  font-size: 18px;
  text-align: center;
}
.a-support-and-contact-us-page-container3 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: 1fr 1fr;
}
.a-support-and-contact-us-page-banner {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-support-and-contact-us-page-banner-heading {
  text-align: center;
}
.a-support-and-contact-us-page-banner-sub-heading {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.a-support-and-contact-us-page-faq {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-support-and-contact-us-page-faq1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
}
.a-support-and-contact-us-page-container4 {
  display: flex;
  max-width: 35%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.a-support-and-contact-us-page-text48 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.a-support-and-contact-us-page-text49 {
  text-align: left;
}
.a-support-and-contact-us-page-container5 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.a-support-and-contact-us-page-container6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.a-support-and-contact-us-page-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.a-support-and-contact-us-page-nav122 {
  font-size: 16px;
  font-family: "Inter Tight";
  font-weight: 400;
  line-height: 150%;
  text-decoration: underline;
}
.a-support-and-contact-us-page-nav222 {
  font-size: 16px;
  font-family: "Inter Tight";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.a-support-and-contact-us-page-nav322 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.a-support-and-contact-us-page-nav421 {
  margin-left: var(--dl-space-space-unit);
}
.a-support-and-contact-us-page-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.a-support-and-contact-us-page-container7 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.a-support-and-contact-us-page-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.a-support-and-contact-us-page-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.a-support-and-contact-us-page-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.a-support-and-contact-us-page-icon14 {
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .a-support-and-contact-us-page-hero1 {
    flex-direction: column;
  }
  .a-support-and-contact-us-page-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .a-support-and-contact-us-page-hero-heading {
    text-align: center;
  }
  .a-support-and-contact-us-page-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .a-support-and-contact-us-page-features-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .a-support-and-contact-us-page-banner-sub-heading {
    max-width: 100%;
  }
  .a-support-and-contact-us-page-text49 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .a-support-and-contact-us-page-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .a-support-and-contact-us-page-desktop-menu {
    display: none;
  }
  .a-support-and-contact-us-page-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .a-support-and-contact-us-page-nav121 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .a-support-and-contact-us-page-nav221 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .a-support-and-contact-us-page-nav321 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .a-support-and-contact-us-page-nav42 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .a-support-and-contact-us-page-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .a-support-and-contact-us-page-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .a-support-and-contact-us-page-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .a-support-and-contact-us-page-features-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .a-support-and-contact-us-page-container3 {
    grid-template-columns: 1fr;
  }
  .a-support-and-contact-us-page-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .a-support-and-contact-us-page-banner-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .a-support-and-contact-us-page-faq1 {
    flex-direction: column;
  }
  .a-support-and-contact-us-page-container4 {
    max-width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .a-support-and-contact-us-page-text49 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .a-support-and-contact-us-page-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .a-support-and-contact-us-page-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .a-support-and-contact-us-page-container7 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .a-support-and-contact-us-page-text52 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .a-support-and-contact-us-page-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .a-support-and-contact-us-page-mobile-menu1 {
    padding: 16px;
  }
  .a-support-and-contact-us-page-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .a-support-and-contact-us-page-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .a-support-and-contact-us-page-btn-group {
    flex-direction: column;
  }
  .a-support-and-contact-us-page-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .a-support-and-contact-us-page-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .a-support-and-contact-us-page-footer {
    padding: var(--dl-space-space-unit);
  }
  .a-support-and-contact-us-page-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .a-support-and-contact-us-page-container7 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .a-support-and-contact-us-page-text52 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
